body {
    display: flex;
}

.sidebar {
    width: 270px;
    height: 100vh;
    position: fixed;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-position: 0 20%;
    object-fit: cover;
}