body {
    padding: 0;
    margin: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #fff !important;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 0 0 18px 18px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s;
}

:target {
    scroll-margin-top: 76px;
}

.navbar {
    background: transparent !important;
    border-radius: 0 0 18px 18px;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-weight: bold;
    color: #0066ff !important;
    text-shadow: 0 1px 4px #e3e3e3;
    transition: color 0.4s;
}

.navbar-brand:hover {
    color: #084298 !important;
}

.navbar-nav .nav-link {
    color: #333 !important;
    border-radius: 8px;
    transition: 0.4s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    background: #e7f1ff;
    color: #0066ff !important;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home {
    background-color: #f0f2f5;
    text-align: center;
    height: 78vh;
}

#about {
    background-color: #ffffff;
    text-align: center;
}

#skills {
    background-color: #f0f2f5;
    text-align: center;
}

#work {
    background-color: #ffffff;
    text-align: center;
}

#contact {
    background-color: #f0f2f5;
    text-align: center;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-position: 0 20%;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    max-height: 80px;
    object-fit: contain;
    border-radius: 8px;
}

.carousel,
.carousel-inner,
.carousel-item {
    max-height: 600px;
    height: 100%;
}

.carousel-item img {
    max-height: 600px;
    width: auto;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.carousel-caption {
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 0;
}

.img-carousel {
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding-bottom: 84px;
}

@media (max-width: 768px) {
    .profile-img {
        width: 200px;
        height: 200px;
    }

    .img-carousel {
        padding-bottom: 24px;
    }

    .navbar-nav .nav-link {
        margin: 0.2rem 0;
        padding: 0.7rem 1rem;
    }
    header {
        border-radius: 0 0 10px 10px;
    }
}
